<div class="Space1">
  <img src="Black.jpg" alt="" class="img1 ">
  <img src="MoImg.jpg" alt="" class="img2">
</div>

<div class="divCss">

</div>

<div class="Space2">
  <img src="Green.jpg" alt="" class="img3">
</div>

<input class="inputA"><button>button按鈕</button>


<!-- 練習2 -->

<br>
<br>
<br>


<div class="BackGround ">

  <div class="wCenter divPadding">


    <h1 class="wordColor ">帳戶登入</h1>

    <span class="wordColor">帳號：</span><input class="password">
    <p class="wordColor">密碼：<input class="password"></p>
    <button style="width:300px; margin:10px;border-radius:6px;
                   background-color:red;color:white;">登入</button>
  </div>
</div>
<!--
老師的div 是一層一層裝，沒有包在一起
盡量不要包在一起會混亂
-->

<h1 class="wCenter">練習</h1>



<br>

<div style="display: flex; justify-content: center;padding:0px;">
  <div class = "flex1">Flex item 1</div>
  <div class = "flex2">Flex item 2</div>
  <div class = "flex3">Flex item 3</div>
  <div class = "flex4">Flex item 4</div>
  <div class = "flex5">Flex item 5</div>
</div>

<div style="display: flex; justify-content: center;padding:10px;">
  <div class = "flex5">Flex item 5</div>
  <div class = "flex4">Flex item 4</div>
  <div class = "flex3">Flex item 3</div>
  <div class = "flex2">Flex item 2</div>
  <div class = "flex1">Flex item 1</div>
</div>

<!-- 可以反轉，回家再研究 -->
